# Chapter 4 - Loops

### There are several techniques to repeatedly execute Python code. While loops are like repeated if statements; the for loop is there to iterate over all kinds of data structures. Learn all about them in this chapter.

### while: warming up
The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is True. Have another look at its recipe.

```python
while condition :
    expression
```
Can you tell how many printouts the following while loop will do?

```python
x = 1
while x < 4 :
    print(x)
    x = x + 1
```

__Answer__: 3

Correct! After 3 runs, x will be equal to 4, causing x < 4 to evaluate to False. This means that the while loop is executed 3 times, giving three printouts.

### Basic while loop
Below you can find the example where the error variable, initially equal to 50.0, is divided by 4 and printed out on every run:

```python
error = 50.0
while error > 1 :
    error = error / 4
    print(error)
```
This example will come in handy, because it's time to build a while loop yourself! We're going to code a while loop that implements a very basic control system for an inverted pendulum. If there's an offset from standing perfectly straight, the while loop will incrementally fix this offset

In [1]:
# Initialize offset
offset = 8

# Code the while loop
while offset !=0:
    print('correcting...')
    offset -= 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

### Add conditionals
The while loop that corrects the offset is a good start, but what if offset is negative? You can try to run the following code where offset is initialized to -6:

```python
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)
```
but your session will be disconnected. The while loop will never stop running, because offset will be further decreased on every run. offset != 0 will never become False and the while loop continues forever.

Fix things by putting an if-else statement inside the while loop.

In [2]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0:
        offset -= 1 
    else:
        offset += 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

Good work! The while loop is not that often used in Data Science, so let's head over to the for loop.

### Loop over a list

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for elements in areas:
    print(elements)

11.25
18.0
20.0
10.75
9.5

Great! That wasn't too hard, was it?

### Indexes and values (1)
Using a for loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information, so where the list element you're iterating over is located, you can use enumerate().

As an example, have a look:

```python
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))
```

In [4]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, value in enumerate(areas) :
    print("room", index,":",value)

room 0 : 11.25
room 1 : 18.0
room 2 : 20.0
room 3 : 10.75
room 4 : 9.5

### Indexes and values (2)
For non-programmer folks, room 0: 11.25 is strange. Wouldn't it be better if the count started at 1?

In [5]:
# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

Much better!

### Loop over list of lists
Remember the house variable from the Intro to Python course? . It's basically a list of lists, where each sublist contains the name and area of a room in your house.

It's up to you to build a for loop from scratch this time!

In [6]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for name in house:
    print("the ",name[0]," is", name[1], "sqm")

the  hallway  is 11.25 sqm
the  kitchen  is 18.0 sqm
the  living room  is 20.0 sqm
the  bedroom  is 10.75 sqm
the  bathroom  is 9.5 sqm

### Loop over dictionary
In Python 3, you need the items() method to loop over a dictionary:

```python
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))
```
Remember the europe dictionary that contained the names of some European countries as key and their capitals as corresponding value? Go ahead and write a loop to iterate over it!

In [7]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items():
    print("the capital of ",key,"is", value)

the capital of  spain is madrid
the capital of  france is paris
the capital of  germany is berlin
the capital of  norway is oslo
the capital of  italy is rome
the capital of  poland is warsaw
the capital of  austria is vienna

Great! Notice that the order of the printouts doesn't necessarily correspond with the order used when defining europe. Remember: dictionaries are inherently unordered!

### Loop over Numpy array
If you're dealing with a 1D Numpy array, looping over all elements can be as simple as:

```python
for x in my_array :
    ...
```
If you're dealing with a 2D Numpy array, it's more complicated. A 2D array is built up of multiple 1D arrays. To explicitly iterate over all separate elements of a multi-dimensional array, you'll need this syntax:

```python
for x in np.nditer(my_array) :
    ...
```
Two Numpy arrays that you might recognize from the intro course are available in your Python session: np_height, a Numpy array containing the heights of Major League Baseball players, and np_baseball, a 2D Numpy array that contains both the heights (first column) and weights (second column) of those players.

In [21]:
import numpy as np

In [22]:
np_height = np.array([74,74,72,72,73,69,69,71,76,71,73,73,74,74,69,70,73,75,78,79,76,74,76,72,71,75,77,74,73,74,78,73,75,73,75,75,74,69,71,74,73,73,76,74,74,70,72,77
,74,70,73,75,76,76,78,74,74,76,77,81,78,75,77,75,76,74,72,72,75,73,73,73,70,70,70,76,68,71,72,75,75,75,75,68,74,78,71,73,76,74,74,79,75,73,76,74
,74,73,72,74,73,74,72,73,69,72,73,75,75,73,72,72,76,74,72,77,74,77,75,76,80,74,74,75,78,73,73,74,75,76,71,73,74,76,76,74,73,74,70,72,73,73,73,73
,71,74,74,72,74,71,74,73,75,75,79,73,75,76,74,76,78,74,76,72,74,76,74,75,78,75,72,74,72,74,70,71,70,75,71,71,73,72,71,73,72,75,74,74,75,73,77,73
,76,75,74,76,75,73,71,76])

In [23]:
np_baseball = np.array([[74,180,74,215,72,210,72,210,73,188,69,176,69,209,71,200,76,231
,71,180,73,188,73,180,74,185,74,160,69,180,70,185,73,189,75,185
,78,219,79,230,76,205,74,230,76,195,72,180,71,192,75,225,77,203
,74,195,73,182,74,188,78,200,73,180,75,200,73,200,75,245,75,240
,74,215,69,185,71,175,74,199,73,200,73,215,76,200,74,205,74,206
,70,186,72,188,77,220,74,210,70,195,73,200,75,200,76,212,76,224
,78,210,74,205,74,220,76,195,77,200,81,260,78,228,75,270,77,200
,75,210,76,190,74,220,72,180,72,205,75,210,73,220,73,211,73,200
,70,180,70,190,70,170,76,230,68,155,71,185,72,185,75,200,75,225
,75,225,75,220,68,160,74,205,78,235,71,250,73,210,76,190,74,160
,74,200,79,205,75,222,73,195,76,205,74,220,74,220,73,170,72,185
,74,195,73,220,74,230,72,180,73,220,69,180,72,180,73,170,75,210
,75,215,73,200,72,213,72,180,76,192,74,235,72,185,77,235,74,210
,77,222,75,210,76,230,80,220,74,180,74,190,75,200,78,210,73,194
,73,180,74,190,75,240,76,200,71,198,73,200,74,195,76,210,76,220
,74,190,73,210,74,225,70,180,72,185,73,170,73,185,73,185,73,180
,71,178,74,175,74,200,72,204,74,211,71,190,74,210,73,190,75,190
,75,185,79,290,73,175,75,185,76,200,74,220,76,170,78,220,74,190
,76,220,72,205,74,200,76,250,74,225,75,215,78,210,75,215,72,195
,74,200,72,194,74,220,70,180,71,180,70,170,75,195,71,180,71,170
,73,206,72,205,71,200,73,225,72,201,75,225,74,233,74,180,75,225
,73,180,77,220,73,180,76,237,75,215,74,190,76,235,75,190,73,180
,71,165,76,195]]).reshape(200, 2)

In [27]:

# Import numpy as np
import numpy as np

# For loop over np_height
for x in np_height:
    print(x,"inches")

# For loop over np_baseball
for x in np.nditer(np_baseball):
    print(x)

74 inches
74 inches
72 inches
72 inches
73 inches
69 inches
69 inches
71 inches
76 inches
71 inches
73 inches
73 inches
74 inches
74 inches
69 inches
70 inches
73 inches
75 inches
78 inches
79 inches
76 inches
74 inches
76 inches
72 inches
71 inches
75 inches
77 inches
74 inches
73 inches
74 inches
78 inches
73 inches
75 inches
73 inches
75 inches
75 inches
74 inches
69 inches
71 inches
74 inches
73 inches
73 inches
76 inches
74 inches
74 inches
70 inches
72 inches
77 inches
74 inches
70 inches
73 inches
75 inches
76 inches
76 inches
78 inches
74 inches
74 inches
76 inches
77 inches
81 inches
78 inches
75 inches
77 inches
75 inches
76 inches
74 inches
72 inches
72 inches
75 inches
73 inches
73 inches
73 inches
70 inches
70 inches
70 inches
76 inches
68 inches
71 inches
72 inches
75 inches
75 inches
75 inches
75 inches
68 inches
74 inches
78 inches
71 inches
73 inches
76 inches
74 inches
74 inches
79 inches
75 inches
73 inches
76 inches
74 inches
74 inches
73 inches
72 inches
74 inches
73 inches
74 inches
72 inches
73 inches
69 inches
72 inches
73 inches
75 inches
75 inches
73 inches
72 inches
72 inches
76 inches
74 inches
72 inches
77 inches
74 inches
77 inches
75 inches
76 inches
80 inches
74 inches
74 inches
75 inches
78 inches
73 inches
73 inches
74 inches
75 inches
76 inches
71 inches
73 inches
74 inches
76 inches
76 inches
74 inches
73 inches
74 inches
70 inches
72 inches
73 inches
73 inches
73 inches
73 inches
71 inches
74 inches
74 inches
72 inches
74 inches
71 inches
74 inches
73 inches
75 inches
75 inches
79 inches
73 inches
75 inches
76 inches
74 inches
76 inches
78 inches
74 inches
76 inches
72 inches
74 inches
76 inches
74 inches
75 inches
78 inches
75 inches
72 inches
74 inches
72 inches
74 inches
70 inches
71 inches
70 inches
75 inches
71 inches
71 inches
73 inches
72 inches
71 inches
73 inches
72 inches
75 inches
74 inches
74 inches
75 inches
73 inches
77 inches
73 inches
76 inches
75 inches
74 inches
76 inches
75 inches
73 inches
71 inches
76 inches
74
180
74
215
72
210
72
210
73
188
69
176
69
209
71
200
76
231
71
180
73
188
73
180
74
185
74
160
69
180
70
185
73
189
75
185
78
219
79
230
76
205
74
230
76
195
72
180
71
192
75
225
77
203
74
195
73
182
74
188
78
200
73
180
75
200
73
200
75
245
75
240
74
215
69
185
71
175
74
199
73
200
73
215
76
200
74
205
74
206
70
186
72
188
77
220
74
210
70
195
73
200
75
200
76
212
76
224
78
210
74
205
74
220
76
195
77
200
81
260
78
228
75
270
77
200
75
210
76
190
74
220
72
180
72
205
75
210
73
220
73
211
73
200
70
180
70
190
70
170
76
230
68
155
71
185
72
185
75
200
75
225
75
225
75
220
68
160
74
205
78
235
71
250
73
210
76
190
74
160
74
200
79
205
75
222
73
195
76
205
74
220
74
220
73
170
72
185
74
195
73
220
74
230
72
180
73
220
69
180
72
180
73
170
75
210
75
215
73
200
72
213
72
180
76
192
74
235
72
185
77
235
74
210
77
222
75
210
76
230
80
220
74
180
74
190
75
200
78
210
73
194
73
180
74
190
75
240
76
200
71
198
73
200
74
195
76
210
76
220
74
190
73
210
74
225
70
180
72
185
73
170
73
185
73
185
73
180
71
178
74
175
74
200
72
204
74
211
71
190
74
210
73
190
75
190
75
185
79
290
73
175
75
185
76
200
74
220
76
170
78
220
74
190
76
220
72
205
74
200
76
250
74
225
75
215
78
210
75
215
72
195
74
200
72
194
74
220
70
180
71
180
70
170
75
195
71
180
71
170
73
206
72
205
71
200
73
225
72
201
75
225
74
233
74
180
75
225
73
180
77
220
73
180
76
237
75
215
74
190
76
235
75
190
73
180
71
165
76
195

### Loop over DataFrame (1)
Iterating over a Pandas DataFrame is typically done with the iterrows() method. Used in a for loop, every observation is iterated over and on every iteration the row label and actual row contents are available:

```python
for lab, row in brics.iterrows() :
    ...
```
In this and the following exercises you will be working on the cars DataFrame. It contains information on the cars per capita and whether people drive right or left for seven countries in the world.

In [29]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for row, value in cars.iterrows():
    print(row)
    print(value)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

### Loop over DataFrame (2)
The row data that's generated by iterrows() on every run is a Pandas Series. This format is not very convenient to print out. Luckily, you can easily select variables from the Pandas Series using square brackets:

```python
for lab, row in brics.iterrows() :
    print(row['country'])
```

In [30]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab,": ",row['cars_per_cap'],sep = "")

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

### Add column (1)
You can  add the length of the country names of the brics DataFrame in a new column:

```python
for lab, row in brics.iterrows() :
    brics.loc[lab, "name_length"] = len(row["country"])
```
You can do similar things on the cars DataFrame.

In [32]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row['country'].upper()


# Print cars
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

Great, but you might remember that there is also an easier way to do this.

### Add column (2)
Using iterrows() to iterate over every observation of a Pandas DataFrame is easy to understand, but not very efficient. On every iteration, you're creating a new Pandas Series.

If you want to add a column to a DataFrame by calling a function on another column, the iterrows() method in combination with a for loop is not the preferred way to go. Instead, you'll want to use apply().

Compare the iterrows() version with the apply() version to get the same result in the brics DataFrame:

```python
for lab, row in brics.iterrows() :
    brics.loc[lab, "name_length"] = len(row["country"])

brics["name_length"] = brics["country"].apply(len)
```
We can do a similar thing to call the upper() method on every name in the country column. However, upper() is a method, so we'll need a slightly different approach:

In [34]:
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars['COUNTRY'] = cars['country'].apply(str.upper)
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

#### Great job! It's time to blend everything you've learned together in a case-study. Head over to the next chapter!